<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/adminPanel.css">
</head>
<body>
    <div class="maincontainer">
        <div class="welcomedcard">
            <mat-card>
                <p class="animate__animated animate__slideInDown">Hi ,ADMIN</p>
                <p class="animate__animated animate__slideInDown">
                    Choose your desired option
                </p>
                <img src="https://logesh.s3.us-south.cloud-object-storage.appdomain.cloud/robot-icon-7.png" class="animate__animated animate__slideInLeft" />
            </mat-card>
        </div>
        <div class="optioncard">
            <mat-card >
                <button style="width:80px;height: 50px;"><a style="text-decoration: none;color: #6e2525;" href="/create_interface">Create</a></button>
                <button style="width:80px;max-height: 50px;"><a style="text-decoration: none;color: #6e2525;" href="/view_orders">View Orders</a></button>
               
            </mat-card>
        </div>
    </div>
</body>
</html>