<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Interface</title>
    <link rel="stylesheet" href="/static/css/create_interface.css">
</head>
<body>
    <div>
        <div class="roboimg animate__animated animate__fadeIn">
            <img src="https://logesh.s3.us-south.cloud-object-storage.appdomain.cloud/robot-icon-7.png" />
        </div>
        <div class="createbook animate__animated animate__fadeIn">
            <button mat-raised-button style="width: 100px; height: 50px;"><a style="text-decoration: none;color: #6e2525;" href="/AddPets">Add Pets</a></button>
        </div>
        <div class="createuser animate__animated animate__fadeIn">
            <button mat-raised-button style="width: 100px; height: 50px;"><a style="text-decoration: none;color: #6e2525;" href="/createUser">Create User</a></button>
        </div>
    </div>
</body>
</html>